api_version: 2
vm:
  base_box: 'sajalshres/ubuntu-dev-box'
  base_box_version: '2020.10.22.9.9' # Use latest to use latest version
  name: 'ubuntu_box'
  cpus: 2
  memory: 4096
  disk_size: '60GB'
  boot_timeout: 1800
  providers:
    virtualbox:
      gui: true
  network:
    ports:
      # Django Primary
      - host: 8000
        guest: 8000
      # DB
      - host: 5432
        guest: 5432
  ssh:
    key:
      # Generate ssh key: ssh-keygen -t rsa -b 4096 -C "your_email@example.com"
      # And place the private and public full path below
      private-key: c:/users/<your-username>/.ssh/id_rsa
      public-key: c:/users/<your-username>/.ssh/id_rsa.pub
      # Set copy to true if you want to copy the local keys to box
      # Otherwise, provision will generate new keys
      copy: false
  sync-folder:
    enable: false
    type: synced_folder
    source: d:/
    destination: /d
provisioners:
  - git:
      # TODO: add bitbucket support
      # This step will check if ssh keys exists from previous step,
      # It will generate new keys and add it to github
      # Make sure the key title doesnot exist in github
      enable: enable
      type: shell
      path: provision/git.sh
      privileged: false
      arguments:
        # Git user name
        - value: username=<your-username>
        # Git email
        - value: email=<your-email@example.com>
        # Personal access api token
        # Personal access token can be used in place of password
        # More info: https://help.github.com/en/github/authenticating-to-github/creating-a-personal-access-token-for-the-command-line
        # Get your token: https://github.com/settings/tokens or on-prem git server
        - value: token=<your-token>
        # Key title must be unique, and should not exist already in github keys
        - value: title=<your-ssh-key-title>
  - repositories:
      enable: enable
      type: shell
      path: provision/repositories.sh
      privileged: false
      arguments:
        # Your git repositories
        - value: git@github.com:sajalshres/linux-dev-box.git
  - custom:
      enable: false
      type: shell
      path: provision/custom.sh
      privileged: false
